rules/rules.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
        Do not edit this file directly!
        This file is generated automatically by processing 
        styleguide.ditamap
        If you want to change the rules, edit the corresponding sections 
        marked with audience="rules" in the corresponding topic files.
      -->
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <include href="library.sch#avoidWordInElement"/>
   <include href="library.sch#avoidEndFragment"/>
   <include href="library.sch#avoidAttributeInElement"/>
   <include href="library.sch#recommendElementInParent"/>
   <include href="library.sch#restrictWords"/>
   <include href="library.sch#restrictCharacters"/>
   <include href="library.sch#restrictNesting"/>
   <include href="library.sch#restrictNumberOfChildren"/>
   <include href="library.sch#restrictChildrenElements"/>
   <include href="library.sch#avoidDuplicateContent"/>
   <include href="library.sch#requireContentAfterElement"/>
   <include href="library.sch#dita-allowedElementsForClass"/>
   <include href="library.sch#dita-allowOnlyBlockElements"/>
   <include href="quickFix-library.xml"/>
   <!--Generated from topics/images.dita.
    -->
   <pattern is-a="avoidAttributeInElement"
            see="http://oxygenxml.github.io/integrated-styleguide/topics/images.html">
      <param name="element" value="image"/>
      <param name="attribute" value="scale"/>
      <param name="message" value="Please do not scale images in DITA"/>
   </pattern>
   <!--Generated from topics/lists.dita.
    -->
   <pattern is-a="restrictNumberOfChildren"
            see="http://oxygenxml.github.io/integrated-styleguide/topics/lists.html">
      <param name="parentElement" value="ul"/>
      <param name="element" value="li"/>
      <param name="min" value="2"/>
      <param name="max" value="10"/>
      <param name="message" value="A list should contain between 2 and 10 items."/>
   </pattern>
   <!--Generated from topics/metadata.dita.
    -->
   <pattern is-a="avoidWordInElement"
            see="http://oxygenxml.github.io/integrated-styleguide/topics/metadata.html">
      <param name="element" value="indexterm"/>
      <param name="word" value="oXygen"/>
      <param name="message" value="Do not ise oXygen in index terms"/>
   </pattern>
</schema>
